.enemy:not(:last-child) {
    margin-bottom: 1rem;
}

.enemy header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.enemy__name-with-sprite {
    display: flex;
    align-items: baseline;
}

.enemy__sprite {
    image-rendering: pixelated;
    margin-right: 0.5rem;
}

.enemy__sections {
    display: flex;
    gap: 0.5rem;
}
@media (max-width: 900px) {
    .enemy__sections {
        flex-direction: column;
        gap: 0;
    }
}

.enemy__sections > section {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.enemy__properties {
    width: 100%;
    table-layout: fixed;
    color: rgb(32, 64, 37);
    border-spacing: 0;
    border: 1px solid #2c4f35;
    border-radius: 4px;
    overflow: hidden;
}
@media (max-width: 900px) {
    .enemy__sections > section:not(:last-child) .enemy__properties {
        border-bottom: none;
    }
    .enemy__sections > section .enemy__properties {
        border-radius: 0;
    }
    .enemy__sections > section:first-child .enemy__properties {
        border-radius: 4px 4px 0 0;
    }
    .enemy__sections > section:last-child .enemy__properties {
        border-radius: 0 0 4px 4px;
    }
}

.enemy__properties tr {
    background-color: var(--row-color);
}

.enemy__properties tr:nth-child(odd) {
    --row-color: #7fb27a;
    --row-header-color: #457d58;
}
.enemy__properties tr:nth-child(even) {
    --row-color: #8dba89;
    --row-header-color: #4e8c62;
}
.enemy__properties tr:last-child {
    height: 100%;
}

.enemy__properties td, .enemy__properties th {
    padding: 0.25rem;
    vertical-align: top;
}
.enemy__properties td:first-child {
    width: 25%;
    background-color: var(--row-header-color);
    color: white;
    border-right: 1px solid #2c4f35;
}

.enemy__stat-icon {
    width: 14px;
    height: 14px;
    image-rendering: pixelated;
}

.enemy__properties th {
    background-color: #2c4f35;
    color: white;
    width: 20%;
}

.enemy__class-name {
    color: #666;
}

.enemy-notes {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
}
