.reward-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.reward-list img {
    image-rendering: pixelated;
}

.reward-list li:not(:last-child) {
    margin-bottom: 0.25rem;
}

.reward-list__item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    border: 1px solid #2c4f35;
    border-radius: 5px;
    padding: 0.25rem;
    box-shadow: 0 1px 4px rgba(0, 32, 0, .15);
    background-color: #a1d49c;
}
.reward-list__name-with-icon {
    display: flex;
    align-items: baseline;
}

.reward-list__icon {
    margin-right: 0.25rem;
}

.reward-list__limits {
    display: flex;
    align-items: baseline;
}
.reward-list__limits i {
    color: #2c4f35;
    transform: translateY(1px);
    font-size: 110%;
}

.reward-list__or-separator {
    position: relative;
    justify-content: center;
    text-align: center;
}
.reward-list__or-separator::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border-top: 1px solid #2c4f35;
}
.reward-list__or-separator span {
    position: relative;
    background-color: var(--row-color);
    color: rgb(32, 64, 37);
    padding: 0 0.5rem;
}
