*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: url(/background.png);
    font-family: 'Lato', sans-serif;
    color: #222;
}

#root {
    max-width: calc(1280px);
    background-color: rgba(255, 255, 255, .9);
    backdrop-filter: blur(1px);
    width: 66.67%;
    margin: auto;
    padding: 2rem;
    min-height: 100vh;
}

@media (max-width: 1200px) {
    #root {
        width: calc(100% - 2rem);
        padding: 0.5rem;
    }
}

h1 {
    text-align: center;
    font-family: 'Qwitcher Grypen', fantasy;
    /* font-family: "Arizonia", fantasy; */
    font-size: 8rem;
    margin: 0 0 2rem 0;
    color: rgb(95, 41, 2);
}

p {
    margin: 0;
}

input {
    padding: 0.5rem 1rem;
    width: 100%;
    background: #e8e8e8;
    color: #111;
    border: none;
    margin-bottom: 2rem;
}
