:root {
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: url(/copyright/background.png);
    color: #222;
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 0;
}

p {
    margin: 0;
}

a:link,
a:visited {
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

/******************************************************************************/

.page {
    max-width: calc(1280px);
    background-color: rgba(255, 255, 255, .9);
    backdrop-filter: blur(1px);
    width: 66.67%;
    margin: auto;
    padding: 0 2rem;
    min-height: 100vh;
}
@media (max-width: 1200px) {
    .page {
        width: calc(100% - 2rem);
        padding: 0 0.5rem;
    }
}

.page > header {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.page > header h1 {
    text-align: center;
    font-family: 'Qwitcher Grypen', fantasy;
    font-size: clamp(4rem, 10vw, 8rem);
    color: rgb(95, 41, 2);
}

footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    color: #666;
    line-height: 1;
}

footer p:not(:last-child) {
    margin-bottom: 0.5em;
}
